.background{

  -fx-background-color: #75BCEC;
    -fx-background-size: 100% 100%; 
}
 
.button{
    -fx-text-alignment: left;
}
.glyph-icon{
     -fx-font-family: "Material Design Icons";
    -fx-font-size: 20px;
    -fx-fill: white;
}
.login{
      -fx-background-image: url("../image/login.jpg");
    -fx-background-size: 100% 100%; 
}
.btnlogin{
    
    
}